.MyNFTs {
  width: 100%;
  padding-top: 20vh;
  background-color: #171717;
  min-height: 100vh;
}

.MyNFTs .NFTitems {
  width: 100%;
  display: flex;
}

.MyNFTs .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 15;
  position: fixed;
}