.navbar nav {
  margin: 0;
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: #202021;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.15);
  height: 15vh;
  z-index: 10;
}

.navbar .logo {
  width: 100%;
  height: 12vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
  transform: scale(0.98);
}

.navbar .right {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}

.navbar .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 3rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),
    linear-gradient(
      137.48deg,
      #ffdb3b 10%,
      #fe53bb 45%,
      #8f51ea 67%,
      #0044ff 87%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-right: 2vh;
}

.navbar #container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

.navbar strong {
  z-index: 2;
  font-family: "Avalors Personal Use";
  font-size: 14px;
  letter-spacing: 5px;
  color: #fff;
  text-shadow: 0 0 4px white;
}

.navbar #glow {
  position: absolute;
  display: flex;
  width: 20rem;
}

.navbar .circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.navbar .circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.navbar .circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.navbar .btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.navbar .btn:hover {
  transform: scale(1.1);
}

.navbar .btn:active {
  border: double 4px #fe53bb;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.navbar .btn:active .circle {
  background: #fe53bb;
}

.navbar #stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

.navbar #stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

.navbar #stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

.navbar #stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

.navbar #stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.navbar button {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 15.5px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.navbar button:active,
.navbar button:hover {
  outline: 0;
}

.navbar button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.navbar button:hover span {
  background: none;
}

.navbar button:active {
  transform: scale(0.9);
}
